{% extends "base.html" %}
{% block title %}Tutoring Hours{% endblock title %}
{% block content %}
  <h2>CS Fishbowl Tutoring Hours</h2>

    {% if user.is_authenticated %}
    <p>
      Hi {{ user.first_name }} {{ user.last_name }}!<br>
      Your tutoring days and hours are <strong>{{ user.days }}</strong> and <strong>{{ user.hours }}</strong>.<br>
      Your information: {{ user.information }}
    </p>

  {% endif %}

  {% if tas %}
  
      {% for ta in tas %}

      <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'ta_detail' ta.pk %}">
            {{ ta.first_name }} {{ ta.last_name }}
          </a></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><p> 
          {{ ta.days }} — {{ ta.hours }}</p></h6>
          <p class="card-text"><p><strong>Information:</strong> {{ ta.information }}   <p> </p>
          
        </div>
      </div>
      
      
           
      
      {% endfor %}
</div>
 
  
 
  {% else %}
    <p>No TAs have signed up yet.</p>
  {% endif %}

  <hr>

{% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post" style="margin-top: 10px;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
{% endif %}

{% endblock content %}
